.container {
   width: 100vw;
   height: 100vh;
}

.board {
   margin: auto;
   display: flex;
   width: 300px;
   height: 300px;
   flex-direction: row;
   flex-wrap: wrap;
   border: 2px solid black;
   border-radius: 3px;
}

.square {
   width: 100px;
   height: 100px;
   box-sizing: border-box; /*kad nekistu dydis atsirandant contentui */
   border: 2px solid black;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
}

.square:hover {
   cursor: pointer;
   background-color: #80cd92;
}

.victory {
   display: flex;
   justify-content: center;
   color: yellow;
}

.slide {
   animation: slide 0.5s ease-in forwards;
}

@keyframes slide {
   0% {
      transform: scale(0%);
   }
   100%{
      transform: scale(2);
   }
}
