@import url('https://fonts.googleapis.com/css?family=Fresca|Raleway|Roboto');
.main-container {
   padding: 0;
   margin: 0;
}
#root {

   font-family: 'Roboto', sans-serif;
font-family: 'Fresca', sans-serif;
font-family: 'Raleway', sans-serif;

   padding: 0;
   margin: 0;
}



/***********START**************/

/* Beggining animation starts */

.bgCover {
   position: relative;
   padding-right: 0;
   margin-right: 0;
   background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
   background-size: cover;
   width: 100vw;
   height: 100vh;
}

.intro-over {
   display: none;
}


.logoCont {
   display: flex;
   width: 100%;
   justify-content: center;
}

.logo {
   background-image: url('./react-logo.png');
   background-size: cover;
   width: 120px;
   height: 120px;
   transform: translateY(-700%);
   transition: all 1s ease-out;
}
.logoAnimation {
   transform: translateY(-450%);
}

.title {
   display: flex;
   justify-content: center;
   transform: translate(-100%,-1125%);
   font-size: 2rem;
   font-weight: 800;
   letter-spacing: 6px;
   width: 100%;
   transition: all 1s ease-in-out;
}

.titleAnimation {
   transform: translate(0,-1500%);
}




/******* Players Inputs **/

.userInput {
   display: none;
}

.userInputAppears {
   display: flex;
   flex-direction: column;
   align-items: center;
   transform: translateY(-350%);
}

.play {
    font-family:  "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
   background:
   linear-gradient(#ad3a18, #e76944);
   border: none;
   font-size: 1rem;
   font-weight: 600;
   letter-spacing: 2px;
   padding: 4px 20px;
   border-radius: 2px;
   margin-top: 30px;
   cursor: pointer;
   color: white;
}

.play:hover:enabled{
   background:
    linear-gradient(#1a1a1a, #0a0a0a);
   color: #fff;
   text-decoration: none;
}

.play:active {
   transform: translateY(1px);
}


.input {
   height: 20px;
   margin-top: 10px;
   border: none;
   border: 1px solid black;
   text-align: center;
   font-size: 1rem;
   font-weight: 600;
   background-color: #D4DF9E;
   opacity: 0.7;
   width: 150px;

}
/***********START ENDS**************/

/***********MAIN **************/

.game-container {
   background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    height: 100vh;
}

.playersBoard {
   position: relative;
   margin-top: 30px;
   display: flex;
   justify-content: space-around;
   height: 70px;
   width: 300px;
   margin: 0 auto;
   margin-bottom: 40px;
   color: #F5F7DC;
   top: 50px;
   letter-spacing: 2px;
}

.playersBoard h4 {
   margin: 10px;
}

.currentTurn {
   position: relative;
   top: 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 60px;

}

@keyframes mymove {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1}
}
.currentSign {
   animation: mymove 1.5s infinite;
   font-size: 2rem;
   font-weight: 600;
   margin-top: 10px;
}

.board {
   padding: 0;
   margin: 0;
   margin: auto;
   display: flex;
   width: 300px;
   height: 300px;
   flex-direction: row;
   flex-wrap: wrap;
   border-width: 2px;
   border-style: solid;
   border-color: rgba(0,0,99, 0.1);
   border-radius: 5px;
   background-color: rgba(20,20,20, 0.2);
}
.square {
   width: 100px;
   height: 100px;
   box-sizing: border-box; /*kad nekistu dydis atsirandant contentui */
   border-width: 2px;
   border-style: solid;
   border-color: rgba(0,0,99, 0.1);
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
}



.square:hover {
   cursor: pointer;
   background-color: #5EB1BF;
}


.playerResults {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.playerResults div {
   text-align: center;
   font-size: 1.1rem;
}

.playerResults span {
   color: #EEC643;
   margin-top: 10px;
}


.victory {
   background-color: #5EB1BF;
   opacity: 0.9;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
   z-index: 300;
   top: 0;
   display: flex;
}

.whoWon {
   color: #FFFD77;
   font-size: 2rem;
   margin-bottom: 25px;
}

.victory button {
   height: 30px;
   border-radius: 3px;
}

.slide {
   animation: slide 0.5s ease-in forwards;
}
@keyframes slide {
   0% {
      transform: scale(0%);
   }
   100%{
      transform: scale(2);
   }
}
/***********MAIN ENDS **************/
